@import '../../scss/variables';

.MenuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    color: white;
    border-right: 4px solid $so-sidebar-color;
    transition: all .2s ease-in-out;

    img {
        transition: all .2s ease-in-out;
    }

    &.active,
    &:hover {
        border-right: 4px solid white;
    }

    &:hover {
        color: white;
        text-decoration: none;

        img {
            transform: scale(1.05);
        }
    }
}
