@import './../../scss/variables';

.Sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    display: flex;
    background-color: $so-sidebar-color;
    color: white;
    align-items: center;
    flex-direction: column;

    .UserProfil {
        img {
            width: 70px;
            height: 70px;
        }
    }


    .logout {
        margin-top: auto;
        margin-bottom: 20px;

        &:hover {
          cursor: pointer;
        }
    }
}
